
*,
*::after,
*::before{
    box-sizing: border-box;
}

@font-face {
  font-family: 'TT-Hoves-Bold', sans-serif;
  src: url("../font/TTHoves-Bold.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Hoves-Medium', sans-serif;
  src: url("../font/TTHoves-Medium.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT-Hoves-Regular', sans-serif;
  src: url("../font/TTHoves-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'TT-Hoves-Light', sans-serif;
  src: url("../font/TTHoves-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body{
  font-family: 'TT-Hoves-Regular', sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #333333;
}

a{
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
}
.zoom:hover {
  transform: scale(1.1) !important;
}

.container{
  max-width: 1190px;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.header__top{
  display: flex;
  padding-top: 30px;
  justify-content: space-between;
  flex-basis: 770px;
}

.header__item{
  display: flex;
  padding-right: 134px;
  padding-bottom: 44px;
}

.header__link{
 padding: 4px 0 4px; 
 margin-right: 60px;
}

.header__link--active{
  border-bottom: 1px solid #303030; 
  border-top: 1px solid #303030;
}

.secondary-title{
font-weight: 300;
font-size: 64px;
Line-height: 64px;
color: #BDBDBD;
}

.header__title{
font-weight: 300;
font-size: 64px;
Line-height: 64px;
display: flex;
flex-direction: column;
color: rgba(189, 189, 189, 1);
align-items: flex-start;
justify-content: center;
padding-top: 365px;
padding-bottom: 237px;
flex-direction: column;
}

.header__title span{
font-weight: 700;
font-size: 64px;
Line-height: 64px; 
color: rgba(51, 51, 51, 1);
}

.header__content{
max-width: 100%;
}

.info-slider__img{
  max-width: 770px;
  float: right;
  margin: 0 0 0 122px;
}

.slick-arrow{
  position: absolute;
  top: 550px;
  z-index: 5;
  cursor: pointer;
}

.slick-right{
left: 76px;
}

.button{
line-height: 12px;
font-size: 12px;
font-weight: 400;
width: 222px;
padding: 30px 31px 30px 50px;
background-color: #ffff;
display: flex;
justify-content: center;
letter-spacing: 4px;
opacity: 1;
transition: background 3s ease;
}

.button:hover{
  background-color: #BDBDBD;
}  

.info-slider{
  position: relative;
}

.info-slider__link{
position: absolute;
bottom: 0;
left: 34.2%;

}
.info-slider__link-text{
  padding-right: 15px;
  letter-spacing: 20%;
}
.slick-line{
  position: absolute;
  top: 576px;
  left: 129px;

}
.slick-left :hover,
.slick-right :hover,
.slick-line :hover{
fill: #F9F9F9;
}


.header__title-numb{
  font-size: 24px;
  line-height: 24px;
  font-weight: 400px;
  color: #BDBDBD;
}

.company-info__container{
  max-width: 1170px;
  display: flex;
  margin-top: 120px;
  background-color: #FBFBFB;
}

.company-info__picture{
padding: 30px 0 0 100px;
display: flex;
flex-direction: column;
position: relative;
}
.company-info__picture-img1{
  padding-bottom: 30px;
}
.company-info__picture-img2{
position: absolute;
bottom: -30px;
}


.company-info__txt{
  padding-right: 70px;
}
.company-info__title{
  padding-top: 30px;
  padding-bottom: 20px;
}
.company-info__txt-content{
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  padding-bottom: 20px;
 
}
.company-info__img{
  padding: 60px 30px 60px;
  float: left;
}

.task__title{
  margin-top: 120px;
  padding-bottom: 60px;
}

.task__list{
 display:flex;
  height: 144px;
  justify-content: space-between;
  list-style: none;
  counter-reset: number;
}

.task__list-item{
  display: flex; 
  width: 50%;
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  counter-increment: number;
  margin-bottom: 30px;
  align-items: center;
}

.task__list-item::before{
  content: counter(number);
  color: #F2F2F2;
  line-height: 238px;
  font-size: 200px;
  font-weight: 900;
  padding-right: 30px;
}
.first{
  width: 40%;
}
.second{
  width: 50%;
}
.project{
  margin-top: 120px;
}

.project__content{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.project__content-center-title{
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  color: #FFFFFF;
  padding-bottom: 14px;
}
.project__content-center{
  background-image: url(../images/project1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 255px;
}

.bg{
padding: 48px 78px 0px 79px;
  max-width: 570px;
  height: 100%; 
  background-color: rgba(51, 51, 51, 0.8);
}

.project__text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}
.project__button{
  background-color: transparent;
 padding: 0;
 margin-top: 14px;  
 display: flex;
 justify-content: flex-start;
}
.project__link-text{
  color: #FFFFFF;
  font-weight: 400;
  font-family: 'Gothic A1', sans-serif;
}

project__content-cecond img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.project__content-img{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.project__button-all{
background-color: #333333;
color: #FFFFFF;
padding: 30px 31px 30px 40px;
margin-top: 30px;
}

.project__bottom{
  display: flex;
  justify-content: flex-end;
}

.contact{
  margin-top: 120px;
}
.contact__container{
margin-top: 22px;
display: flex;
justify-content: space-between;
}
.contact__form{
  display: flex;
  flex-direction: column;
  max-width: 391px;
  margin-right: 30px;
}

.placeinput{
  width: 100%;
}

.placeholder {
  z-index: 100;    
  left: 10px;
  cursor: text;   
  position: absolute;
  top: 15px;
  left: 21px;
  width: 100%;    
  display: none;
  color: #8D8D8D;
  line-height: 17px;
  font-size: 14px;
  font-weight: 400;
}
.placeholder-message {
  height: 147px;
}

.placeinput input:invalid + .placeholder {
 display: inline;
}

.placeinput {
  position: relative;
  overflow: hidden;
}
.placeholder span {
  color: red;
}
.contact__input{
font-family: 'TT-Hoves-Regular', sans-serif;
border: none;
display: block;
width: 391px;
background-color: #F3F3F3;
padding-top: 15px;
padding-bottom: 14px;
padding-left: 21px;
font-size: 14px;
line-height: 17px;
font-weight: 400;
color: #8D8D8D;
margin-bottom: 10px;
}

.contact__form-img{
  max-height: 369px;
}

.contact__text{
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  padding: 12px 0 0 30px;
}

.contact__button{
background-color: #333333;
color: #FFFFFF;
padding: 30px 31px 30px 47px;
margin-top: 21px;
}

.tooter{
margin-top: 120px;
background-color: #2C2C2C;
color: #FFFFFF;
}

.footer__top{
  display: flex;
  justify-content: space-between;
  padding-top: 58px;
  font-size: 14px;
  line-height: 24px;
}
.footer__title{
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  padding-bottom: 25px;
}

.footer__list-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}
.footer__list-info-item{
padding-bottom: 16px;
}

.footer__list-contact li{
list-style-position: inside;
}

.list-adres{
  list-style: url(../images/adres.svg);
padding-bottom: 30px;
}

.list-tel{
 list-style: url(../images/tel.svg);
padding-bottom: 33px;

}

.list-mail{
 list-style: url(../images/mail.svg);
 padding-bottom: 60px;
}


.footer-socia__list-cocial{
  display: flex;
}
.footer__list-social-item{
  padding-right: 41px;
}

.footer__bottom{
  border-top: 1px solid rgb(255, 255, 255, 0.1);
}
.footer__bottom p{
display: flex;
align-items: center;
justify-content: center;
padding: 24px 0 24px;
color: rgba(200, 200, 200, 0.5);
font-size: 12px;
line-height: 22px;
font-weight: 400;
}